/***** Global *****/
/* Body */
body {
	background: #F5F4EF url(../img/bg.png);
	color: #000305;
	font-size: 87.5%; /* Base font size: 14px */
	font-family: 'Trebuchet MS', Trebuchet, 'Lucida Sans Unicode',
		'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
	line-height: 1.429;
	margin: 0;
	padding: 0;
	text-align: left;
}

/* Headings */
h2 {
	font-size: 1.571em
} /* 22px */
h3 {
	font-size: 1.429em
} /* 20px */
h4 {
	font-size: 1.286em
} /* 18px */
h5 {
	font-size: 1.143em
} /* 16px */
h6 {
	font-size: 1em
} /* 14px */
h2,h3,h4,h5,h6 {
	font-weight: 400;
	line-height: 1.1;
	margin-bottom: .8em;
}

/* Anchors */
a {
	outline: 0;
}

a img {
	border: 0px;
	text-decoration: none;
}

a:link,a:visited {
	color: #C74350;
	padding: 0 1px;
	text-decoration: underline;
}

a:hover,a:active {
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	color: #C74350;
	text-decoration: none;
	text-shadow: 1px 1px 1px #333;
}

/* Paragraphs */
p {
	margin-bottom: 1.143em;
}

* p:last-child {
	margin-bottom: 0;
}

strong,b {
	font-weight: bold;
}

em,i {
	font-style: italic;
}

::-moz-selection {
	background: #F6CF74;
	color: #fff;
}

::selection {
	background: #F6CF74;
	color: #fff;
}

/* Lists */
ul {
	list-style: outside disc;
	margin: 1em 0 1.5em 1.5em;
}

ol {
	list-style: outside decimal;
	margin: 1em 0 1.5em 1.5em;
}

dl {
	margin: 0 0 1.5em 0;
}

dt {
	font-weight: bold;
}

dd {
	margin-left: 1.5em;
}

/* Quotes */
blockquote {
	font-style: italic;
}

cite {
	
}

q {
	
}

/* Tables */
table {
	margin: .5em auto 1.5em auto;
	width: 98%;
}

/* Thead */
thead th {
	padding: .5em .4em;
	text-align: left;
}

thead td {
	
}

/* Tbody */
tbody td {
	padding: .5em .4em;
}

tbody th {
	
}

tbody .alt td {
	
}

tbody .alt th {
	
}

/* Tfoot */
tfoot th {
	
}

tfoot td {
	
}

header,section,footer,aside,hgroup,nav,article,figure {
	display: block;
}

.body {
	clear: both;
	margin: 0 auto;
	width: 800px;
}

img.right figure.right {
	float: right;
	margin: 0 0 2em 2em;
}

img.left,figure.left {
	float: right;
	margin: 0 0 2em 2em;
}

#banner {
	margin: 0 auto;
	padding: 2.5em 0 0 0;
}

#banner h1 {
	font-size: 3.571em;
	line-height: .6;
}

#banner h1 a.link,#banner h1 a.visited {
	color: #000305;
	display: block;
	font-weight: bold;
	margin: 0 0 .6em .2em;
	text-decoration: none;
	width: 427px;
}

#banner h1 a:HOVER,#banner h1 a:ACTIVE {
	background: none;
	color: #C74350;
	text-shadow: none;
}

#banner h1 strong {
	font-size: 0.36em;
	font-weight: normal;
}

#banner nav {
	background: #000305;
	font-size: 1.143em;
	height: 40px;
	line-height: 30px;
	margin: 0 auto 2em auto;
	padding: 0;
	text-align: center;
	width: 800px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
}

#banner nav ul {
	list-style: none;
	margin: 0 auto;
	width: 800px;
}

#banner nav li {
	float: left;
	display: inline;
	margin: 0;
}

#banner nav .user_login {
	float: right;
	position: absolute;
	right: 300px;
}

#banner nav a:link,#banner nav a:visited {
	color: #fff;
	display: inline-block;
	height: 30px;
	padding: 5px 1.5em;
	text-decoration: none;
}

#banner nav a:HOVER,#banner nav a:ACTIVE,#banner nav .active a:LINK,#banner nav .active a:VISITED
	{
	background: #C74451;
	color: #fff;
	text-shadow: none !important;
}

#banner nav li:first-child a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

#banner nav .user_login a {
	border-top-left-radius: 5px;
	-moz-border-radius-topleft: 5px;
	-webkit-border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-bottom-left-radius: 5px;
	border-top-right-radius: 5px;
	-moz-border-radius-topright: 5px;
	-webkit-border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
	-moz-border-radius-bottomright: 5px;
	-webkit-border-bottom-right-radius: 5px;
}

/*
  Featured
*****************/
#featured {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

#featured figure {
	border: 2px solid #eee;
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}

#featured figure img {
	display: block;
	float: right;
}

#featured h2 {
	color: #C74451;
	font-size: 1.714em;
	margin-bottom: 0.333em;
}

#featured h3 {
	font-size: 1.429em;
	margin-bottom: .5em;
}

#featured h3 a:link,#featured h3 a:visited {
	color: #000305;
	text-decoration: none;
}

#featured h3 a:hover,#featured h3 a:active {
	color: #fff;
}

/*
  Body
*****************/
#content {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px 20px;
	width: 760px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

#extras {
	margin: 0 auto 3em auto;
	overflow: hidden;
}

#extras ul {
	list-style: none;
	margin: 0;
}

#extras li {
	border-bottom: 1px solid #fff;
}

#extras h2 {
	color: #C74350;
	font-size: 1.429em;
	margin-bottom: .25em;
	padding: 0 3px;
}

#extras a:link,#extras a:visited {
	color: #444;
	display: block;
	border-bottom: 1px solid #F4E3E3;
	text-decoration: none;
	padding: .3em .25em;
}

/* Blogroll */
#extras .blogroll {
	float: left;
	width: 625px;
}

#extras .blogroll li {
	float: left;
	margin: 0 auto;
	width: 195px;
	float: left;
}

/* Social */
#extras .social {
	float: right;
	width: 175px;
}

#extras li:last-child,#extras li:last-child a {
	border: 0;
}

#extras .blogroll li:nth-last-child(2),#extras .blogroll li:nth-last-child(3),#extras .blogroll li:nth-last-child(2) a,#extras .blogroll li:nth-last-child(3) a
	{
	border: 0;
}

#extras div[class='social'] a {
	background-repeat: no-repeat;
	background-position: 3px 6px;
	padding-left: 25px;
}

.social a[href*='delicious.com'] {
	background-image: url('../img/delicious-logo.png');
}

.social a[href*='digg.com'] {
	background-image: url('../img/digg-logo.png');
}

.social a[href*='facebook.com'] {
	background-image: url('../img/facebook-logo.png');
}

.social a[href*='last.fm'],.social a[href*='lastfm.in'] {
	background-image: url('../img/lastfm-logo.png');
}

.social a[href*='/wiki/'] {
	background-image: url('../img/rss-logo.png');
}

.social a[href*='twitter.com'] {
	background-image: url('../img/twitter-logo.jpg');
}

/*
  About
*****************/
#about {
	background: #fff;
	font-style: normal;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	text-align: left;
	width: 760px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

#about .primary {
	float: left;
	width: 165px;
}

#about .primary strong {
	color: #C64350;
	display: block;
	font-size: 1.286em;
}

#about .photo {
	float: left;
	margin: 5px 20px;
}

#about .url:link,#about .url:visited {
	text-decoration: none;
}

#about .bio {
	float: right;
	width: 500px;
}

/*
  Footer
*****************/
#contentinfo {
	padding-bottom: 2em;
	text-align: right;
}

/* Blog */
.hentry {
	border-bottom: 1px solid #eee;
	padding: 1.5em 0;
}

li:last-child .hentry,#content .hentry {
	border: 0;
	margin: 0;
}

#content .hentry {
	padding: 1em 0;
}

.entry-title {
	font-size: 1.429em;
	margin-bottom: 0;
}

.entry-title a:link,.entry-title a:visited {
	text-decoration: none;
}

.hentry .post-info {
	font-style: normal;
}

/* Content */
.hentry footer {
	margin-bottom: 2em;
}

.hentry footer address {
	display: inline;
}

#posts-list footer address {
	display: block;
}

/* Blog Index */
#posts-list {
	list-style: none;
	margin: 0;
}

#posts-list .hentry {
	padding-left: 200px;
	position: relative;
}

#posts-list footer {
	left: 10px;
	position: absolute;
	top: 1.5em;
	width: 190px;
}

/*
  users
*****************/
#users,#contact {
	background: #fff;
	margin-bottom: 2em;
	overflow: hidden;
	padding: 20px;
	width: 760px;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-o-border-radius: 10px;
	-ms-border-radius: 10px;
}

#users .info,#contact .info {
	float: left;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}

#users .loginform,#contact .loginform {
	float: right;
	margin: 0.786em 2em 0 5em;
	width: 248px;
}

#users h2,#contact h2 {
	color: #C74451;
	font-size: 1.714em;
	margin-bottom: 0.333em;
}

#users h3,#contact h3 {
	font-size: 1.429em;
	margin-bottom: .5em;
}

#users h3 a:link,#users h3 a:visited,#contact h3 a:link,#contact h3 a:visited
	{
	color: #000305;
	text-decoration: none;
}

#users h3 a:hover,#users h3 a:active,#contact h3 a:hover,#contact h3 a:active
	{
	color: #fff;
}

/*******************
LOGIN FORM
*******************/
.login-form {
	width: 300px;
	margin: 0 auto;
	position: relative;
	background: #f3f3f3;
	border: 1px solid #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.5);
	right: 75px;
	top: .22px;
}

/*******************
HEADER
*******************/
.login-form .header {
	padding: 40px 30px 30px 30px;
}

.login-form .header h1 {
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 28px;
	line-height: 34px;
	color: #414848;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
	margin-bottom: 10px;
}

.login-form .header span {
	font-size: 11px;
	line-height: 16px;
	color: #678889;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
}

/*******************
CONTENT
*******************/
.login-form .content {
	padding: 0 30px 25px 30px;
}

/* Input field */
.login-form .content .input {
	width: 188px;
	padding: 15px 25px;
	padding-bottom: 10px;
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light",
		"Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
	font-weight: 400;
	font-size: 14px;
	color: #9d9e9e;
	text-shadow: 1px 1px 0 rgba(256, 256, 256, 1.0);
	background: #fff;
	border: 1px solid #fff;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	-o-border-radius: 5px;
	-ms-border-radius: 5px;
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
	-ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.50);
}

/* Second input field */
.login-form .content .password,.login-form .content .pass-icon {
	margin-top: 25px;
}

.login-form .content .input:hover {
	background: #dfe9ec;
	color: #414848;
}

.login-form .content .input:focus {
	background: #dfe9ec;
	color: #414848;
	box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	-moz-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	-webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	-o-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
	-ms-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.25);
}

.user-icon,.pass-icon {
	width: 46px;
	height: 47px;
	display: block;
	position: absolute;
	left: 0px;
	padding-right: 2px;
	z-index: -1;
	-moz-border-radius-topleft: 5px;
	-moz-border-radius-bottomleft: 5px;
	-webkit-border-top-left-radius: 5px;
	-webkit-border-bottom-left-radius: 5px;
}

.user-icon {
	top: 153px;
	/* Positioning fix for slide-in, got lazy to think up of simpler method. */
	background: rgba(65, 72, 72, 0.75) url('../img/user-icon.png') no-repeat
		center;
}

.pass-icon {
	top: 201px;
	background: rgba(65, 72, 72, 0.75) url('../img/pass-icon.png' ')
		no-repeat center;
}

.content input:focus+div {
	left: -46px;
}

/* Animation */
.input,.user-icon,.pass-icon,.button,.register {
	transition: all 0.5s ease;
	-moz-transition: all 0.5s ease;
	-webkit-transition: all 0.5s ease;
	-o-transition: all 0.5s ease;
	-ms-transition: all 0.5s ease;
}

/*******************
FOOTER
*******************/
.login-form .footer {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	background: #d4dedf;
	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	-moz-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	-webkit-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	-o-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
	-ms-box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

/* Login button */
.login-form .footer .button {
	float: right;
	padding: 11px 25px;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #fff;
	text-shadow: 0px 1px 0 rgba(0, 0, 0, 0.25);
	background: #56c2e1;
	border: 1px solid #46b3d3;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-ms-border-radius: 5px;
	-o-border-radius: 5px;
	-webkit-border-radius: 5px;
	cursor: pointer;
	box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
	-moz-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
	-webkit-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
	-o-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
	-ms-box-shadow: inset 0 0 2px rgba(256, 256, 256, 0.75);
}

*::-moz-selection {
	padding: 25px 30px 40px 30px;
	overflow: auto;
	background: #d4dedf;
	border-top: 1px solid #fff;
	box-shadow: inset 0 1px 0 rgba(0, 0, 0, 0.15);
}

.login-form .footer .button:hover {
	background: #3f9db8;
	border: 1px solid rgba(256, 256, 256, 0.75);
	box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	-moz-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	-webkit-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	-o-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
	-ms-box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.5);
}

.login-form .footer .button:focus {
	position: relative;
	bottom: -1px;
	background: #56c2e1;
	box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
	-moz-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
	-webkit-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
	-o-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
	-ms-box-shadow: inset 0 1px 6px rgba(256, 256, 256, 0.75);
}

/* Register button */
.login-form .footer .register {
	display: block;
	float: right;
	padding: 10px;
	margin-right: 20px;
	background: none;
	border: none;
	cursor: pointer;
	font-family: 'Bree Serif', serif;
	font-weight: 300;
	font-size: 18px;
	color: #414848;
	text-shadow: 0px 1px 0 rgba(256, 256, 256, 0.5);
}

.login-form .footer .register:hover {
	color: #3f9db8;
}

.login-form .footer .register:focus {
	position: relative;
	bottom: -1px;
}