<beans:beans xmlns="http://www.springframework.org/schema/security"
	xmlns:beans="http://www.springframework.org/schema/beans" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xsi:schemaLocation="http://www.springframework.org/schema/beans
	http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
	http://www.springframework.org/schema/security
	http://www.springframework.org/schema/security/spring-security-3.0.3.xsd
	http://www.springframework.org/schema/beans     
    http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
    http://www.springframework.org/schema/context 
    http://www.springframework.org/schema/context/spring-context-3.0.xsd
    ">

	<beans:import resource="classpath*:spring-database.xml" />
	<beans:import resource="classpath*:spring-service.xml" />

	<!-- Activates scanning of @Autowired -->
	<context:annotation-config />

	<!-- Activates scanning of @Repository -->
	<context:component-scan base-package="com.tfw.exilant.controllers" />

	<http auto-config="true">
		<intercept-url pattern="/iTAPUI*" access="ROLE_ADMIN" />
		<form-login login-page="/login" default-target-url="/index.html"
			authentication-failure-handler-ref="myFailureHandler"
			authentication-success-handler-ref="mySuccessHandler"
			always-use-default-target="true" />
		<logout logout-success-url="/logout" invalidate-session="true" />
		<session-management
			session-authentication-strategy-ref="sas" />
	</http>
	
	<beans:bean id="myFailureHandler"
		class="com.tfw.exilant.controllers.MyFailureHandler">
	</beans:bean>
	<beans:bean id="mySuccessHandler"
		class="com.tfw.exilant.controllers.MySuccessHandler">
		<beans:property name="customAuthentication" ref="customAuthentication" />
		<beans:property name="defaultTargetUrl" value="/index.html" />
	</beans:bean>

	<beans:bean id="sas"
		class="org.springframework.security.web.authentication.session.ConcurrentSessionControlStrategy">
		<beans:constructor-arg name="sessionRegistry"
			ref="sessionRegistry" />
		<beans:property name="maximumSessions" value="1" />
	</beans:bean>

	<beans:bean id="sessionRegistry"
		class="org.springframework.security.core.session.SessionRegistryImpl" />

	<authentication-manager>
		<authentication-provider ref="customAuthentication" />
	</authentication-manager>

	<beans:bean id="customAuthentication"
		class="com.tfw.exilant.controllers.CustomAuthentication">
		<beans:property name="mainService" ref="mainService" />
	</beans:bean>

</beans:beans>