/* Forgot Password Page CSS */

html, head, body{
	margin: 0;
	padding: 0;
	height: 100%;
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}
body#forgot_password_page{
	background: #EFEFEF !important; 
}

#forgot_password_wrapper{
	border: 1px solid #D6D6D6;
	position: absolute;
	top: 50%;
	width: 40%;
	left: 50%;
	-webkit-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
	background: #F4F4F4;
}
.header, .footer{
	width: 50%;
	margin: 0 auto;
}
.header h4{
	font-weight: normal;
	line-height: 16px;
}
#logo{
	border-bottom: 1px solid #d6d6d6;
}
.logoImg{
	text-align: left;
	margin: 0 auto;
	display: block;
	height: 62px;
	padding: 30px;
}
.inputFields{
	text-align: center;
	width: 30%;
	margin: 0px auto 50px auto;
}
.inputFields label{
	padding: 15px 20px 10px 0;
	display: block;
	text-align: left;
	font-size: 14px;
	font-weight: bold;
}
.inputFields label[for=email]{
	padding: 15px 20px 10px 0;
}
.inputFields input{
	height: 25px;
	padding: 2px;
	width: 100%;
	border: 1px solid #A9A9A9;
}
#sendPassBtn{
	background: none repeat scroll 0 0 #1A9FE6;
	border: 2px solid #199ADF;
	border-radius: 5px;
	color: #FFFFFF;
	font-size: 14px;
	font-weight: lighter;
	height: 35px;
	letter-spacing: 1px;
	line-height: 0;
	margin: 0 auto;
	padding-top: 4px;
	width: 80%;
}
/* Hack to fix the ailgnment in FF*/
input::-moz-focus-inner /*Remove button padding in FF*/
{ 
    border: 0;
    padding: 0;
}
.bottomNav{
	border-top: 1px solid #d6d6d6;
	padding: 20px 0 30px 0;
}
.bottomNav .link{
	text-decoration: none;
	font-size: 13px;
	color: #1A9FE6;
}
.error{
	font-size: 13px;
    height: 30px;
    line-height: 30px;
    margin-top: 8px;
    text-align: center;
    color: red;
}
