<?xml version="1.0" encoding="UTF-8"?>
<web-app version="2.5" xmlns="http://java.sun.com/xml/ns/javaee"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd">
	<servlet>
		<display-name>User Details</display-name>
		<servlet-name>LoginServlet</servlet-name>
		<servlet-class>com.eris.servlets.LoginServlet</servlet-class>
	</servlet>
	<servlet>
		<display-name>Client Details</display-name>
		<servlet-name>ClientServlet</servlet-name>
		<servlet-class>com.eris.servlets.ClientServlet</servlet-class>
	</servlet>
	<servlet>
		<servlet-name>clientjsp</servlet-name>
		<jsp-file>/WEB-INF/administrator/addclient.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>adsuccess</servlet-name>
		<jsp-file>/WEB-INF/administrator/success.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>adfailure</servlet-name>
		<jsp-file>/WEB-INF/administrator/failure.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>adminindex</servlet-name>
		<jsp-file>/WEB-INF/administrator/adminindex.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>jobdesc</servlet-name>
		<jsp-file>/WEB-INF/administrator/addjobdescription.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>empsearch</servlet-name>
		<jsp-file>/WEB-INF/administrator/employeesearch.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>placedetails</servlet-name>
		<jsp-file>/WEB-INF/administrator/placementdetails.jsp</jsp-file>
	</servlet>
	<servlet>
		<servlet-name>regemp</servlet-name>
		<jsp-file>/WEB-INF/administrator/registeranemployee.jsp</jsp-file>
	</servlet>
	<servlet>
		<display-name>Employee Details</display-name>
		<servlet-name>EmployeeServlet</servlet-name>
		<servlet-class>com.eris.servlets.EmployeeServlet</servlet-class>
	</servlet>

	<servlet-mapping>
		<servlet-name>jobdesc</servlet-name>
		<url-pattern>/addjobdescription</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>empsearch</servlet-name>
		<url-pattern>/employeesearch</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>regemp</servlet-name>
		<url-pattern>/registeranemployee</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>placedetails</servlet-name>
		<url-pattern>/placementdetails</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adminindex</servlet-name>
		<url-pattern>/adminindex</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>clientjsp</servlet-name>
		<url-pattern>/client</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adsuccess</servlet-name>
		<url-pattern>/success1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>adfailure</servlet-name>
		<url-pattern>/failure1</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>LoginServlet</servlet-name>
		<url-pattern>/LoginServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>ClientServlet</servlet-name>
		<url-pattern>/ClientServlet</url-pattern>
	</servlet-mapping>
	<servlet-mapping>
		<servlet-name>EmployeeServlet</servlet-name>
		<url-pattern>/EmployeeServlet</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>index.jsp</welcome-file>
	</welcome-file-list>
</web-app>
