.TrHeight2PX 
{ 
height:2px;
} 

.TrHeight3PX 
{ 
height:3px;
} 

.TrHeight5PX 
{ 
height:5px;
}
.TdStyle
{
	background-image:url(../Images/s2.gif);
	border-bottom : 0px ;
	
}
.TdButtonStyle
{
	background-image:url(../Images/NewHeaderBack.gif);
	border-bottom : 0px ;
}
.ThStyle
{
	font-weight : normal;
	font-size : 12px;
	color : brown;
	font-color : #1234;
	font-weight:bold;
	height:40px;
	font-family : Verdana;
	background-image:url(../Images/057_04.jpg);
	border-bottom : 0px ;
}
.TrHeight10PX 
{ 
height:10px;
}

.TrHeight20PX 
{ 
height:20px;
}

.TrHeight22PX 
{ 
height:22px;
} 

.TrHeight25PX 
{ 
height:25px;
} 
   
.formTextField 
{ 
font-weight : normal;
font-size : 11px;
color : #000000;
font-color : #1234;
font-family : Verdana;
line-height : 11px;
background-image:url(../Images/headerback.gif);
background: transparent;
border: transparent;
}

.formTextFieldcolor 
{ 
font-weight : normal;
font-size : 11px;
color : blue;
font-color : #1234;
font-family : Verdana;
line-height : 11px;
background-image:url(../Images/headerback.gif);
background: transparent;
border: transparent;
}

{ 
font-weight : normal;
font-size : 11px;
color : #000000;
font-color : #1234;
font-family : Verdana;
line-height : 11px;
background-image:url(../Images/headerback.gif);
background: transparent;
border: transparent;
}

.formTextFieldblack 
{ 
font-weight : normal;
font-size : 11px;
color : black;
font-color : #1234;
font-family : Verdana;
line-height : 11px;
background-image:url(../Images/headerback.gif);
background: transparent;
border: transparent;
}


.formTextFieldWithoutTransparent 
{ 
font-weight : normal;
font-size : 11px;
color : #000000;
font-family : Verdana;
line-height : 11px;
background-image:url(../Images/headerback.gif);
}

.formTextFieldUnEditable
{ 
font-weight : normal;
font-size : 11px;
color : #000000;
font-family : Verdana;
line-height : 11px;
background-image:url(../Images/headerback.gif);
read-only :true
}



.LogoHeader 
{ 
font-weight : Bold;
font-size : 12px;
color : #ffffff;
font-family : Verdana;
line-height : 11px;
text-transform:uppercase;
letter-spacing:2px;
background-image:url(../Images/title.jpeg);

}

.WelcomeText
{
font-family: Verdana, Arial, Helvetica, sans-serif;
font-weight: bold;
color: #CE6700;
}

.HiddenTextBox
{
FILTER: alpha(opacity=0);-moz-opacity:0; 
width:1px; 
position: absolute;
}

.formLinkField 
{ 
font-weight : normal;
font-size : 11px;
color : Green;
font-family : Verdana;
line-height : 11px;
}

.HeaderText 
{ 
font-weight : bold;
font-size : 11px;
color :black;
font-family : Verdana;
line-height : 11px;
}
.HeaderTextBox 
{ 
font-weight : bold;
font-size : 11px;
color :black;
font-family : Verdana;
line-height : 11px;
background:transparent;
}

.LockHeaderText 
{ 
font-weight : bold;
font-size : 12px;
color:Red;
font-family:Verdana Serif;
line-height : 11px;
}

.formTextFieldGrid
{
font-weight : normal;
font-size : 11px;
color : #000000;
font-family : Verdana;
line-height : 11px;
}

.formRadioFieldGrid
{
font-weight : normal;
font-size : 11px;
color : #000000;
font-family : Verdana;
line-height : 11px;
}

.borderMainTable 
{ 
border-bottom : 1px solid #cccccc;
border-left : 1px solid #cccccc;
border-right : 1px solid #cccccc;
border-top : 1px solid #cccccc;
margin-left:0px;
margin-top:10px;
} 
.txtLoginTable 
{ 
font-size : 12px;
font-weight: bold;
color : #000000;
font-family : Verdana;
border-bottom : 1px solid #cccccc;
border-left : 1px solid #cccccc;
border-right : 1px solid #cccccc;
border-top : 1px solid #cccccc;
font-weight : normal;
line-height : 10px;
}
.txtTable 
{ 
font-size : 10px;
color : #000000;
font-family : Verdana;
font-weight : normal;
line-height : 10px;
}
.txtTableHeading 
{ 
font-size : 15px;
font-weight: bold;
color : white;
font-family : Verdana;
font-weight : normal;
line-height : 20px;
background-image: url(../Images/cashwallet.jpg);
}
.txtTableFooter
{ 
font-size : 10px;
color : white;
font-family : Verdana;
font-weight : normal;
line-height : 12px;
background-image: url(../Images/menuback3.gif);
}
.loginTableFooter
{ 
font-size : 10px;
color : white;
font-family : Verdana;
font-weight : normal;
line-height : 12px;
background-image: url(../Images/bg2.JPG);
}
.txtPara 
{ 
font-size : 12px;
color : #000000;
font-family : Verdana;
font-weight :500;
line-height :15px;
}

.txtLabelGrid
{ 
font-size : 10px;
color : #000000;
font-family : Verdana;
font-weight : normal;
line-height : 10px;
}

.txtMandatory 
{ 
font-size : 10px;
color : Red;
font-family : Verdana;
font-weight : normal;
line-height : 10px;
} 

.txtNormal
{ 
font-size : 11px;
color : Black;
font-family : Verdana;
font-weight : normal;
line-height : 5px;
} 

.clsTxtReadonly 
{ 
font-weight : normal;
font-size : 11px;
color : #000000;
font-family : Verdana;
line-height : 11px;
background-color:#EAEAEA;
border-bottom : 1px solid #999999;
border-left : 1px solid #999999;
border-right : 1px solid #999999;
border-top : 1px solid #999999;
} 

.clsGridTxtReadonly 
{ 
font-weight : normal;
font-size : 11px;
color : #000000;
font-family : Verdana;
line-height : 11px;
background-color:#EAEAEA;
border-bottom : 1px solid #999999;
border-left : 1px solid #999999;
border-right : 1px solid #999999;
border-top : 1px solid #999999;
} 

.txtTableHeader 
{ 
font-size : 12px;
color :red;
font-family : Verdana;
font-weight : bold;
padding-left : 5px;

background-image: url(../Images/788989.jpg);

} 

.FirstRow 
{ 
vertical-align:middle;
padding-left:5px;
} 

.SecondRow 
{ 
vertical-align:middle;
padding-left:5px;
} 

.SysLinkButton 
{ 
font-weight : normal;
font-size : 10px;
font-family : Verdana;
color:Blue;
background-color:Transparent;
line-height:10px;
border-bottom:#000000 ipx solid;
border-top:#000000 ipx solid;
height:15px;
} 

.SysButton 
{
FONT-WEIGHT:normal; 
FONT-SIZE: 11px; 
FONT-FAMILY: Verdana; 
BACKGROUND-COLOR: #cccccc;
line-height:13px;
border-top:1px;
vertical-align:middle;
}

#divMain
{
float:left;
width:100%;
margin-left:0px;
margin-top:0px;
height:100%;
}

#divTop
{
float:left;
width:980px;
height:50px;
background-image:url(../Images/HeaderNew.gif);
background-repeat:no-repeat;
margin-left:5px;
margin-right:5px;
}

.divWithGrid
{
overflow:auto;
height:455px;
width:95%;
}

.divWithGridAssignBranchRights
{
overflow:auto;
height:250px;
width:600px;
}

.divForDashBoardMenu
{
top:10px; 
left:30px; 
position:absolute; 
z-index:100;
border-right:#cccccc 2px solid;
border-left:#cccccc 2px solid;
border-top:#cccccc 2px solid;
border-bottom:#cccccc 2px solid;
background-color:#DADADA;

font-size : 12px;
color : #000000;
font-family : Verdana;
font-weight : normal;
line-height : 18px;
}

.tdBorderBottomDashBoard
{
border-bottom: #FFFFFF;
border-bottom-width: 1px;
border-bottom-style: solid;
}
.tdWithoutBorder
{
border:transperent;
}
#divMiddle
{
float:left;
width:980px;
height:25px;
margin-left:5px;
margin-right:5px;
background-image:url(../Images/mainmenu2.gif);
border-bottom:1px solid #000000;
}

.LockHeaderBack
{
background-image:url(../Images/mainmenu2.gif);
}

#bgr
{
float:left;
width:978px;
margin-left:5px;
margin-right:2px;
height:610px;
background-image:url(../Images/FrontDivBack2.jpg);
background-repeat:no-repeat;
}

#bgrDefaultPage
{
float:left;
width:978px;
height:610px;
position:relative;
background-color:Black;
border-bottom : 1px solid gray;
border-left : 1px solid gray;
border-right : 1px solid gray;
border-top : 1px solid gray;
}

.backgroundMenu1
{
display:table;
text-align:center;
font-size:11px;
padding:5px;
font-family:Verdana;
text-decoration:none;
margin-left:0px;
color:#FFFFFF;
}

.borderTab 
{ 
border-bottom : 1px solid red;
border-left : 1px solid red;
border-right : 1px solid red;
border-top : 1px solid red;
} 

.borderMenu
{
border:solid 1px black;
border-bottom:none;
}

.backgroundSubMenu
{
background-image:url(../Images/Lmenu4.jpg);
background-repeat:no-repeat;
display:table;
text-align:left;
text-indent:5px;
font-size:11px;
padding:3px;
font-family:Verdana;	
}

.hover
{
background-image:url(../Images/menuback1.jpg);
background-repeat:no-repeat;
color:#ffffff	
}

.txtTable 
{ 
font-size : 10px;
color:#666666;
font-family : Verdana;
font-weight : bold;
line-height : 10px;
padding-left : 5px;
} 

/* For Link Elements */

a:link 
{
color:White ;
text-decoration: none;
}

a:visited 
{
color: White;
text-decoration: none;
}
a:hover 
{
color: White;
text-decoration: underline;

}
a:active 
{
color: White;
text-decoration: none;
}

.Mainbody 
{	
background-image: url(../Images/goldfade.JPG);
width:100%;
margin-top:1px;
margin-bottom:2px;
margin-left:0px;
margin-right:0px;

}
.Headingbody 
{	
background-image: url(../Images/plpowderban.jpg);
width:100%;
margin-top:1px;
margin-bottom:2px;
margin-left:0px;
margin-right:0px;
background-repeat: repeat;

}
.Footerbody
{	
background-image: url(../Images/cashwallet1.jpg);
width:100%;
margin-top:1px;
margin-bottom:2px;
margin-left:0px;
margin-right:0px;
background-repeat: repeat;

}

.Headerbody 
{	
background-image: url(../Images/cashwallet1.jpg);
width:100%;
margin-top:1px;
margin-bottom:2px;
margin-left:0px;
margin-right:0px;
overflow:hidden;
}

searchWindow 
{
background-color:Black;
width:100%;
margin-top:1px;
margin-bottom:2px;
margin-left:0px;
margin-right:0px;
overflow:hidden;
}

hr 
{
height:1px;
color:#CCCCCC;
}

.h2{
 color: "#666666";	
 font-family: sans-serif;
 font-size: 14px;
 color: #FFFFCC;
 background-image: url("../Images/HOVER1.gif");
 background-repeat: repeat;
	}

html
{
width:100%; 
}

.PageBackColor
{
background-color:White;
}
.welcomeBackground
{

	position:absolute;
	color:#778899;
	left:68px;
	top:150px;
	width:877px;
	height:10px;
	z-index:0;
}
.PageHeader
{
background-image:url(../Images/s2.gif);
background-repeat:repeat;
vertical-align:middle;
font-size : 10px; 
color: #003300; 
font-family : Verdana;
font-weight : bold;

line-height : 11px;
padding-left : 5px;
height:20px;
}


.PageHeader1
{
background-image:url(../Images/menuback3.gif);
background-repeat:repeat;
vertical-align:middle;
font-size : 10px; 
color:maroon; 
font-family : serif;
font-weight : bold;
line-height : 11px;
padding-left : 5px;
height:20px;
border-right:#004080 1px solid;
border-top:#004080 1px solid;
border-bottom:#004080 1px solid;
border-left: #004080 1px solid;

}

.GridHeader
{
background-image:url(../Images/NewHeaderBack.gif);
background-repeat:repeat;
vertical-align:middle;
border-top:#cccccc 1px solid;
font-size : 10px;
color:#666666;
font-family : Verdana;
font-weight : bold;
line-height : 11px;
padding-left : 5px;
height:20px;
}

.GridColumnHeader
{
background-repeat:repeat;
vertical-align:middle;
border-right:#cccccc 1px solid;
border-left:#cccccc 1px solid;
border-top:#cccccc 1px solid;
border-bottom:#cccccc 1px solid;
background-color:#DADADA;
font-size : 10px;
color:#000000;
font-family : Verdana;
font-weight : bold;
line-height : 10px;
height:19px;
}

.GridColumn1Header
{
background-repeat:repeat;
vertical-align:middle;
background-color:#DADADA;
border-right:#cccccc 1px solid;
border-top:#cccccc 1px solid;
border-bottom:#cccccc 1px solid;
font-size : 10px;
color:#000000;
font-family : Verdana;
line-height : 10px;
height:19px;
}

.RadioButtonForGrid
{ 
font-weight : normal;
font-size : 10px;
color : #000000;
font-family : Verdana;
line-height : 10px;
padding-left:5px;
}

.GridSearchBorder
{
border-left : 1px solid #000000;
border-right : 2px solid #000000;
border-top : 1px solid #000000;
border-top : 2px solid #000000;
background-color:#FFFFFF;
}

.GridItemRow
{
background-color:#FDFDFD;
font-weight : normal;
font-size : 10px;
color : #000000;
font-family : Verdana;
line-height : 10px;
height:19px;
}

.GridAlternativeRow
{
background-color:#F2F2F2;
font-weight : normal;
font-size : 10px;
color : #000000;
font-family : Verdana;
line-height : 10px;
height:19px;
}

.GridFooterColor
{
color:#000000;
font-weight:bold;
font-family : Verdana;
font-size : 10px;
}

.GridButton 
{
FONT-WEIGHT:normal; 
FONT-SIZE: 10px; 
FONT-FAMILY: Verdana; 
line-height:9px;
background-color:#D9F3FB;
}

.loginDiv
{
background-image:url(../images/login.gif);
}

.tableLogin
{
margin-top:30px;
}

.txtLoginLable
{
font-size : 10px;
color : #f8f8f8;
font-family : Verdana;
font-weight : normal;
line-height : 10px;
}
.ButtonBackgroundImage
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
	font-family: Verdana;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	background-image: url(../Images/s2.gif);
}
.TdThBackgroundImage
{
	font-weight: normal;
	font-size: 8pt;
	color: #000000;
	font-family: Verdana;
	border-top: 1px solid;
	border-right: 1px solid;
	border-bottom: 1px solid;
	border-left: 1px solid;
	background-image: url(../Images/plpowderban.jpg);
}
.approve
{
  padding: 50px 10px;
}

#clientLockPageDiv 
{
position:absolute;
left:238px;
top:183px;
width:513px;
height:225px;
z-index:1;
border-left:#999999 1px solid;
border-bottom:#000000 1px solid;
border-right:#999999 1px solid;
border-top:#999999 1px solid;
background-color:#EAEAEA;
}

#DivLogin 
{
position:absolute;
left:600px;
top:300px;
width:320px;
height:140px;
z-index:1;
background-image:url(../Images/centerdivback.gif);
}

#loginLogo 
{
position:absolute;
left:50px;
top:60px;
width:320px;
height:140px;
z-index:1;
}

#loginFooter 
{
position:absolute;
left:50px;
top:490px;
width:450px;
height:140px;
z-index:1;
}
.txtTable2 
{ 
font-size : 10px;
color:#666666;
font-family : Verdana;
font-weight : bold;
line-height : 20px;
padding-left : 5px;
} 

.txtTable2
{ 
font-size : 10px;
color : #000000;
font-family : Verdana;
font-weight : lighter;
line-height : 10px;
}

.headerimg{
 background-image: url(../Images/plpowderban.jpg);	 
}

.fonttype{
	font-family: Verdana;
	font-size: 12px;
	color: black;
}



